In [3]:
import numpy as np
import torch

In [4]:
iu1 = np.triu_indices(4)
iu1

(array([0, 0, 0, 0, 1, 1, 1, 2, 2, 3], dtype=int64),
 array([0, 1, 2, 3, 1, 2, 3, 2, 3, 3], dtype=int64))

In [28]:
iu2 = np.triu_indices(4, 1)
iu2

(array([0, 0, 0, 1, 1, 2], dtype=int64),
 array([1, 2, 3, 2, 3, 3], dtype=int64))

In [5]:
a = np.arange(16).reshape(4, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [29]:
a[iu2]

array([ 1,  2,  3,  6,  7, 11])

In [19]:
a[np.tril_indices(4,-1)]

array([ 4,  8,  9, 12, 13, 14])

In [23]:
a1= a.copy()
a1[np.tril_indices(4,-1)]=-1
a1

array([[ 0,  1,  2,  3],
       [-1,  5,  6,  7],
       [-1, -1, 10, 11],
       [-1, -1, -1, 15]])

In [6]:
a2 = np.zeros((5,5))
a2[np.triu_indices(5, 1)] = a[np.triu_indices(4)]
a2[np.tril_indices(5, -1)] = a[np.tril_indices(4)]
a2

array([[ 0.,  0.,  1.,  2.,  3.],
       [ 0.,  0.,  5.,  6.,  7.],
       [ 4.,  5.,  0., 10., 11.],
       [ 8.,  9., 10.,  0., 15.],
       [12., 13., 14., 15.,  0.]])

In [12]:
len(a2[np.triu_indices(5, 2)])

6

In [37]:
len(a2[np.triu_indices(5, 1)] )

10

In [41]:
a2[np.tril_indices(5, 1)]

array([ 0.,  0.,  0.,  0.,  5.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
       15.,  0.,  0.,  0.,  0.,  0.])

In [45]:
len(a2[np.tril_indices(5, -1)])

10

In [8]:
a3 = torch.from_numpy(a2)
a3

tensor([[ 0.,  0.,  1.,  2.,  3.],
        [ 0.,  0.,  5.,  6.,  7.],
        [ 4.,  5.,  0., 10., 11.],
        [ 8.,  9., 10.,  0., 15.],
        [12., 13., 14., 15.,  0.]], dtype=torch.float64)

In [9]:
a3.resize_((4,4))

tensor([[ 0.,  0.,  1.,  2.],
        [ 3.,  0.,  0.,  5.],
        [ 6.,  7.,  4.,  5.],
        [ 0., 10., 11.,  8.]], dtype=torch.float64)

In [13]:
import pandas as pd
import random 
import numpy as np

In [28]:
np.random.seed(1)
df_normal = pd.read_json("wafer_normal.json")
df_abnormal = pd.read_json("wafer_abnormal.json")
print("df_normal:",len(df_normal.sensor)/6)
print("df_abnormal:",len(df_abnormal.sensor)/6)
df_normal.head()

df_normal: 1067.0
df_abnormal: 127.0

,batch,sensor,value,status
0,167713,12,"[0.09765625, 0.09765625, 0.09765625, 0.0976562...",normal
1,171115,6,"[0.0, 0.1636661211, 0.1636661211, 0.1636661211...",normal
10,155624,12,"[0.0, 0.10362694300000001, 0.0, 0.0, 0.0, 0.0,...",normal
1000,157309,6,"[0.1644736842, 0.1644736842, 0.1644736842, 0.1...",normal
1002,182510,12,"[0.0954198473, 0.0954198473, 0.0954198473, 0.0...",normal

In [20]:
np.random.seed(1)
normal_train =np.random.choice(df_normal.batch.unique(),747,replace=False)
abnormal_train =np.random.choice(df_abnormal.batch.unique(),89,replace=False)

normal_train.shape

(747,)

In [32]:
df_normal_train=df_normal[df_normal.batch.isin(normal_train)]
print("df_normal_train:",len(df_normal_train.sensor)/6)
df_normal_train.head()

df_normal_train: 747.0

,batch,sensor,value,status
0,167713,12,"[0.09765625, 0.09765625, 0.09765625, 0.0976562...",normal
1,171115,6,"[0.0, 0.1636661211, 0.1636661211, 0.1636661211...",normal
10,155624,12,"[0.0, 0.10362694300000001, 0.0, 0.0, 0.0, 0.0,...",normal
1000,157309,6,"[0.1644736842, 0.1644736842, 0.1644736842, 0.1...",normal
1002,182510,12,"[0.0954198473, 0.0954198473, 0.0954198473, 0.0...",normal

In [33]:
df_normal_left=df_normal[~df_normal.batch.isin(normal_train)]
print("df_normal_left:",len(df_normal_left.sensor)/6)
df_normal_left.head()

df_normal_left: 320.0

,batch,sensor,value,status
1008,172002,15,"[78.1690140845, 78.1690140845, 78.1690140845, ...",normal
1013,171104,12,"[0.0952380952, 0.0952380952, 0.0952380952, 0.0...",normal
1019,166613,12,"[0.0979431929, 0.0979431929, 0.0, 0.0979431929...",normal
1020,172206,8,"[1.0660106601, 0.4100041, 0.12300123, 0.123001...",normal
1022,158106,8,"[2.6005688744, 0.7720438846000001, 0.284437220...",normal

In [34]:
normal_validation =np.random.choice(df_normal_left.batch.unique(),160,replace=False)
df_normal_validation=df_normal_left[df_normal_left.batch.isin(normal_validation)]
df_normal_test=df_normal_left[~df_normal_left.batch.isin(normal_validation)]
print("df_normal_test:",len(df_normal_test.sensor)/6)

df_normal_test: 160.0

In [ ]:
df_abnormal_train=df_abnormal[df_abnormal.batch.isin(abnormal_train)]
df_abnormal_left=df_abnormal[~df_abnormal.batch.isin(abnormal_train)]
abnormal_validation =np.random.choice(df_abnormal_left.batch.unique(),19,replace=False)
df_abnormal_validation=df_abnormal_left[df_abnormal_left.batch.isin(abnormal_validation)]
df_abnormal_test=df_abnormal_left[~df_abnormal_left.batch.isin(abnormal_validation)]